
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center center-container">

      <div class="col-lg-6 col-md-6">
        <div class="card o-hidden border-0 shadow-lg">
          <div class="card-body p-0">            
            <div class="row">              
              <div class="col-lg-12" style="position: relative;">
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',backdropBackgroundColour:'rgba(255, 255, 255, 0.4)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}"></ngx-loading>
                
                <div class="p-4 login-form-block">
                  <div class="logo">
                    <img src="assets/img/logo.png">
                    <!-- <h1 class="h2 title-login font-weight-bold">Excel <span>Hire</span></h1> -->
                  </div>
                  <div class="mb-1">
                    <h1 class="h5 title-login font-weight-bold text-gray-600">Reset Password</h1>
                  </div>

                  <form class="user" #l="ngForm" novalidate autocomplete="off">
                    <div class="form-group">
                      <input type="email" name="email" [(ngModel)]="resetEmail" class="form-control form-control-user" id="exampleInputEmail" required aria-describedby="emailHelp" placeholder="Enter Email Address..."  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z-.]+$" readonly="true">                     
                    </div>                    
                    <div class="form-group">
                      <input type="password" name="password" #password="ngModel" [(ngModel)]="userPass" class="form-control form-control-user" id="exampleInputPassword" required placeholder="Password">
                      <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                        <p>Password can't be blank</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="password" name="cpassword" #cpassword="ngModel" [(ngModel)]="userConfirmPass" class="form-control form-control-user" id="exampleInputPassword" required placeholder="Password confirmation">
                      <div class="alert alert-danger" *ngIf="cpassword.touched && cpassword.invalid">
                        <p>Confirm password can't be blank</p>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-user btn-block" [disabled]="l.invalid" (click)="resetPassword();">Reset Password</button>
                  </form>
                  <hr/>

                  <div class="text-center mt-2">
                    <a class="nav-lnk" (click)="redirectToLogin()">Back to Login</a>
                  </div>    
                </div>

              </div>              
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
