
<div class="top-logo">
  <div class="logo text-center">
    <img width="700px" class="img-fluid my-3" src="assets/Stewart-school-Cuttack-Logo-1-1.png"
      alt="Stewart-school-Cuttack-Logo">
  </div>

</div>


<div class="student-number mt-3">
  <div class="container">

      <div class="section-back-color faild student-number-text text-center py-3">
          <img width="100" src="assets/success.png" alt="">
          <h2>Payment Successful</h2>
          <p class="tnk">Thank You</p>
          <button class="go-home" (click)="goBackHome()">Go To Home</button>

      </div>

  </div>
</div>
