
<div class="top-logo">
  <div class="logo text-center">
    <img width="700px" class="img-fluid my-3" src="assets/Stewart-school-Cuttack-Logo-1-1.png"
      alt="Stewart-school-Cuttack-Logo">
  </div>

</div>

<div class="student-number mt-3">
  <div class="container">

      <div class="section-back-color faild student-number-text text-center py-3">
          <img width="100" src="assets/close.png" alt="">
          <h2>Payment Failed</h2>
          <div class="payment-btn">
              <div class="row">
                  <div class="col-6">
                      <button class="retry" (click)="retryPayment()">Retry</button>
                  </div>
                  <div class="col-6">
                      <button class="go-home" (click)="goBackHome()">Go To Home</button>
                  </div>
              </div>
          </div>



      </div>

  </div>
</div>

