<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:true,primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}"></ngx-loading>
<div class="top-logo">
  <div class="logo text-center">
    <img width="700px" class="img-fluid my-3" src="assets/Stewart-school-Cuttack-Logo-1-1.png"
      alt="Stewart-school-Cuttack-Logo">
  </div>

</div>

<div class="student-number mt-3">
  <div class="container">

      <div class="section-back-color faild student-number-text text-center py-3" *ngIf="transaction_details.total != 0">
          <img width="100" src="assets/close.png" alt="">
          <h2>Payment Failed</h2>
          <p *ngIf="transaction_details">Please note your reference id: {{transaction_id}}</p>
          <div class="payment-btn">
              <div class="row">
                  <div class="col-lg-6 col-sm-12 pt-3">
                      <button class="retry" (click)="retryPayment()">Retry</button>
                  </div>
                  <div class="col-lg-6 col-sm-12 pt-3">
                      <button class="go-home" (click)="goBackHome()">Go To Home</button>
                  </div>
              </div>
          </div>



      </div>

  </div>
</div>

